/* Estilos personalizados para o menu de seleção do período */
.period-menu-container {
    margin-top: 10px; /* Ajuste para iniciar mais acima */
}

/* Outros estilos existentes */
.justify {
    text-align: justify;
}

.w100 {
    width: 100%;
}

.align_center {
    align-items: center !important;
}

.align_self_center {
    align-self: center !important;
}

.m0 {
    margin: 0 !important;
}

.p0 {
    padding: 0 !important;
}

.line_height_big {
    line-height: 48px;
}

.descricao-textarea {
    height: 300px; /* Ajuste a altura desejada */
    min-height: 300px; /* Define a altura mínima */
    resize: vertical; /* Permite redimensionar verticalmente o textarea */
    border: none; /* Remove a borda */
}

.card-image {
    width: 300px; /* Define a largura desejada */
}

.mt-2 {
    margin-top: 10px;
}

.mr-0 {
    margin-right: 0px;
}

table tbody tr.odd {
    background-color: #ffffff;
}

table tbody tr.even {
    background-color: #f2f2f2;
}

table thead th {
    background-color: #f5f5f5;
    color: #333;
    font-weight: bold;
}

.subitem-marker {
    margin-right: 5px; /* Ajuste o valor conforme necessário */
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.team-member {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #fff;
}

.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    object-fit: cover;
}

.team-member h4 {
    margin-top: 15px;
    margin-bottom: 5px;
}

.team-member p {
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.social-icons a {
    color: #000;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #007bff;
}

.btn-toggle {
    margin: 10px;
}

.hidden {
    display: none;
}

.nav-wrapper.center-align {
    display: flex;
    justify-content: center;
}

#nav-mobile li a {
    font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
}

#nav-mobile li a.active {
    font-weight: bold; /* Destaca o item ativo */
    border-bottom: 2px solid #fff; /* Adiciona uma borda inferior ao item ativo */
}

.slider {
    height: 400px; /* Ajuste conforme necessário */
}

.slider .slides {
    height: 400px; /* Ajuste conforme necessário */
}

.caption {
    background-color: rgba(
        0,
        0,
        0,
        0.5
    ); /* Adiciona um fundo preto semi-transparente */
    padding: 20px; /* Adiciona algum espaço ao redor do texto */
    border-radius: 10px; /* Adiciona bordas arredondadas */
}

/* Custom CSS for slider indicators */
.slider .indicators {
    top: 85%; /* Ajuste o valor para posicionar os indicadores abaixo do centro */
    transform: translateY(-50%); /* Centraliza verticalmente */
    position: absolute;
    z-index: 1000;
    width: 100%;
    text-align: center;
    left: 0;
}

.slider .indicators .indicator-item {
    background-color: rgba(
        255,
        255,
        255,
        0.5
    ); /* Indicadores semi-translúcidos */
    border-radius: 50%;
    width: 20px; /* Largura dos indicadores */
    height: 20px; /* Altura dos indicadores */
    margin: 0 4px; /* Espaçamento entre os indicadores */
    transition: background-color 0.3s; /* Suaviza a transição da cor de fundo */
}

.slider .indicators .indicator-item.active {
    background-color: rgba(255, 255, 255, 1); /* Indicadores ativos */
}

/* Ajustes para os controles de navegação */
.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(
        -50%
    ); /* Ajuste fino para centralizar verticalmente */
    z-index: 1001; /* Certifica-se de que os controles estão acima dos indicadores */
    color: white; /* Cor dos controles de navegação */
}

.carousel-control-prev {
    left: 10px; /* Posição à esquerda dos controles */
}

.carousel-control-next {
    right: 10px; /* Posição à direita dos controles */
}

.top_banner {
    display: flex;
    width: 100%;
    height: 100px;
    margin-block: 16px;
    justify-content: center;
}

.top_banner_wrapper {
    position: relative;
}

.top_banner_nota_maxima_wrapper {
    position: absolute;
    left: 90px;
    top: -12px;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.top_banner_nota_maxima {
    width: 134px;
    height: 149px;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

#nav-main li a,
.sidenav li a {
    font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
    color: #fff; /* Cor do texto do menu */
    padding: 0 15px; /* Espaçamento ao redor do texto */
    text-transform: uppercase; /* Texto em maiúsculas */
    display: flex;
    align-items: center; /* Centraliza verticalmente o texto */
    height: 64px; /* Altura da barra de navegação */
}

#nav-main li a.active,
.sidenav li a.active {
    font-weight: bold; /* Destaca o item ativo */
    border-bottom: 2px solid #fff; /* Adiciona uma borda inferior ao item ativo */
    color: #ffeb3b; /* Cor diferente para o item ativo */
}

#nav-main li a:hover,
.sidenav li a:hover {
    background-color: rgba(
        255,
        255,
        255,
        0.1
    ); /* Adiciona um fundo ao passar o mouse */
}

ul li a,
.sidenav li a {
    font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
    color: #fff; /* Cor do texto do menu */
    padding: 0 15px; /* Espaçamento ao redor do texto */
    text-transform: uppercase; /* Texto em maiúsculas */
    display: flex;
    align-items: center; /* Centraliza verticalmente o texto */
    height: 64px; /* Altura da barra de navegação */
}

ul li a.active,
.sidenav li a.active {
    font-weight: bold; /* Destaca o item ativo */
    border-bottom: 2px solid #fff; /* Adiciona uma borda inferior ao item ativo */
    color: #ffeb3b; /* Cor diferente para o item ativo */
}

ul li a:hover,
.sidenav li a:hover {
    background-color: rgba(
        255,
        255,
        255,
        0.1
    ); /* Adiciona um fundo ao passar o mouse */
}

.quaseMenu {
    background-color: #2196f3; /* Azul Materialize */
    padding: 15px 0; /* Espaçamento acima e abaixo do título */
    text-align: center;
    color: #ffeb3b; /* Mesma cor do menu ativo */
    font-size: 24px; /* Ajuste o tamanho da fonte para corresponder ao menu ativo */
    font-weight: bold; /* Adiciona negrito para o texto */
    display: block;
    cursor: pointer;
    margin-bottom: 0;
}

.page-footer .container {
    width: 85%;
}

.all_rights_reserved {
    padding-block: 8px;
}

.page-footer .row {
    margin-bottom: 0;
}

.page-footer .white-text {
    font-weight: bold;
}

.page-footer .grey-text.text-lighten-4 {
    font-size: 16px;
}

.page-footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.1; /* Reduz a altura da linha para diminuir o espaçamento */
    margin-top: -15px; /* Eleva os itens do menu */
}

.page-footer ul li {
    margin-bottom: 1px; /* Reduz o espaço entre os itens */
}

.page-footer ul li a {
    font-size: 16px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.page-footer ul li a i {
    margin-right: 5px; /* Espaço entre o ícone e o texto */
}

.page-footer p {
    margin: 5px 0; /* Ajusta o espaçamento vertical dos parágrafos */
    line-height: 1.1; /* Reduz a altura da linha para os parágrafos */
}

.explicativo_regioes {
    display: flex;
    padding: 24px;
    flex-direction: column;
    gap: 8px;
}

.explicativo_com_imagem {
    display: flex;
    padding-block: 24px;
    gap: 16px;
    align-items: center;
}

.main-chart {
    margin-bottom: 40px;
}

.small-charts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.small-charts canvas {
    cursor: pointer;
    transition: transform 0.2s;
}

.small-charts canvas:hover {
    transform: scale(1.1);
}

.titulo-projeto {
    font-size: 36px; /* Aumenta o tamanho da fonte */
    font-weight: bold; /* Aplica negrito */
    color: #2c3e50; /* Cor escura para um bom contraste */
    margin: 20px 0; /* Margens superiores e inferiores */
    text-align: center; /* Centraliza o texto */
}

.lattes-link {
    text-align: center;
}

.lattes-link a {
    color: #007bff; /* Cor do link */
    font-weight: bold;
    font-size: 16px; /* Tamanho da fonte */
}

.lattes-link a:hover {
    color: #0056b3; /* Cor do link quando passar o mouse */
    text-decoration: underline;
}

.nav-wrapper {
    background-color: #2196f3; /* Azul Materialize */
}

/* Estilo básico para o menu */
.nav-wrapper {
    background-color: #2196f3; /* Azul Materialize */
}

.brand-logo span.app_name {
    font-size: 0.8em;
}

nav a.brand-logo {
    display: flex;
    gap: 8px;
    align-items: center;
}

.brand-logo-images {
    height: 56px;
}

.nav-wrapper ul li a {
    color: #fff; /* Cor dos links */
    font-weight: bold;
}

.sidenav {
    background-color: #2196f3; /* Azul Materialize */
}

.sidenav li a {
    color: #fff; /* Cor dos links */
}

/* Estilos personalizados para o menu ativo */
#nav-mobile li a.active,
.sidenav li a.active {
    font-weight: bold; /* Negrito para o item ativo */
    border-bottom: 2px solid #fff; /* Borda inferior para o item ativo */
}

.regioes_wrapper {
    display: flex;
    align-self: center;
    flex-direction: column;
    gap: 16px;
}

.regiao_wrapper {
    display: flex;
    gap: 8px;
}

.regiao_cor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.regiao_nome {
    width: calc(100% - 28px);
}

.equipe-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 24px;
}

.membro-card {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.membro_info_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.membro_image {
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 4px;
}

.membro-card img {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.membro-card h4 {
    margin: 0;
}

.membro-card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.membro-card .social-links {
    display: flex;
    gap: 16px;
    align-items: center;
}

.membro-card .social-links a {
    color: #666;
    text-decoration: none;
    font-size: 18px;
}

.membro-card .social-links a:hover {
    color: #333;
}

.membro-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilos personalizados para a página de apoioadores */
.card-title {
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    display: block;
}

.descricao-container {
    max-height: 300px; /* Aumentar a altura máxima conforme necessário */
    overflow: auto;
}

.card-image img {
    width: 100%;
    height: auto;
    max-width: 100%; /* Ajuste conforme necessário */
    display: block;
    margin: 0 auto;
}

.img-direita {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
}

.card-content .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.card-title.apoiador-nome {
    font-size: 2.5em; /* Aumentar ainda mais o tamanho da fonte */
    font-weight: bold;
    text-transform: uppercase;
    color: #1e88e5; /* Cor azul ou qualquer outra de sua preferência */
    border-bottom: 3px solid #2196f3; /* Azul Materialize */
    padding-bottom: 10px; /* Espaço entre o texto e a linha */
    margin-bottom: 20px; /* Espaço abaixo da linha */
    text-align: center; /* Centralizar o texto */
    background-color: #f1f1f1; /* Fundo claro */
    padding-top: 10px; /* Espaço acima do texto */
    padding-bottom: 10px; /* Espaço abaixo do texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para efeito tridimensional */
    border-radius: 5px; /* Bordas arredondadas */
}

.card-action {
    text-align: center;
}

.card-action a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2196f3; /* Azul Materialize */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.card-action a:hover {
    background-color: #1976d2; /* Cor ao passar o mouse */
}

/* Estilos personalizados para o menu de seleção do período */
.period-menu-container {
    margin-top: 10px; /* Ajuste para iniciar mais acima */
}

.period-title {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: center;
}

.period-menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza as colunas */
}

.period-menu li {
    margin: 5px;
    flex: 1 1 calc(50% - 10px); /* Define a largura dos itens */
}

.period-menu li a {
    display: block;
    padding: 10px 15px;
    background-color: #f5f5f5;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.period-menu li a.active {
    background-color: #2196f3;
    color: #fff;
    font-weight: bold;
}

.period-menu li a:hover {
    background-color: #1e88e5;
    color: #fff;
}

.total-analises {
    font-size: 0.9rem;
    color: #666;
}

.collapsible-body {
    padding: 20px;
    background-color: #fafafa;
    border-bottom: 1px solid #ddd;
}

div.collapsible-body_low_padding {
    padding: 1rem;
}

.collapsible_b1 {
    background-color: #eee;
}

.collapsible_b2 {
    background-color: #e0e0e0;
}

.collapsible_b3 {
    background-color: #bdbdbd;
}

div.collapsible_header_b1 {
    background-color: #f5f5f5;
}

div.collapsible_header_b2 {
    background-color: #eee;
}

div.collapsible_header_b3 {
    background-color: #e0e0e0;
}

.tabs .tab a.highlighted {
    /* transition: 0.3s; */
    color: #000;
}

.tabs .tab a.highlighted:hover,
.tabs .tab a.active.highlighted {
    /* transition: 0.3s; */
    color: #000;
}

.tabs .tab a.highlighted:hover {
    background-color: #eee;
    color: #000;
}

.tabs .tab a:focus,
.tabs .tab a.highlighted:focus.active {
    color: #000;
    background-color: #f5f5f5;
}

.tabs li.indicator {
    background-color: #000;
}

.responsive-table {
    width: 100%;
    overflow-x: auto;
}

table.striped {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table.striped thead {
    background-color: #f0f0f0;
}

table.striped thead th {
    padding: 10px;
    text-align: left;
    font-size: 0.9rem;
    color: #555;
}

table.striped tbody tr {
    border-bottom: 1px solid #ddd;
}

table.striped tbody tr:hover {
    background-color: #f9f9f9;
}

table.striped tbody td {
    padding: 10px;
    font-size: 0.9rem;
    color: #333;
}

.subitem-marker {
    color: #00796b;
    margin-right: 5px;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

ul li {
    margin-bottom: 5px;
}

.collapsible li.active .arrow_not_active {
    display: none;
}

.collapsible li .arrow_active {
    display: none;
}

.collapsible li.active .arrow_active {
    display: block;
}

/* Adicione isso ao seu arquivo CSS */
.apoiador-nome {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: #1e88e5; /* cor azul ou qualquer outra de sua preferência */
}

.realizador_main_container {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
}

.apoiador_main_container {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
}

.apoiador_container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80px;
}

.apoiador_container a {
    width: auto;
}

.apoiador_container img.horizontal {
    width: auto;
    max-width: 50%;
    max-height: 80px;
}

.apoiador_container img.vertical {
    width: auto;
    max-height: 80px;
}

.boletins-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-block: 24px;
}

.boletins_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.boletim_wrapper {
    display: flex;
    text-decoration: none;
    color: #000;
    padding: 16px;
    gap: 16px;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.boletim_wrapper:visited {
    color: #000;
}

.boletim_wrapper:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.boletim_wrapper:hover .download_button {
    color: #c62828;
}

.download_button {
    cursor: pointer;
    color: #e53935;
    transition: 0.2s;
}

.sobre_container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-block: 32px;
}

.sobre_conjunto {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sobre_lista_objetivos li {
    margin-left: 20px;
    list-style-type: disc !important;
}

.sobre_container h5,
.sobre_container p {
    margin: 0;
}

.sobre_imagens {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.sobre_imagem {
    width: 100%;
    height: 350px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    object-position: center;
}

.contato_full_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-block: 24px;
}

.contato_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.contato_informacoes {
    position: relative;
    padding: 24px;
}

.contato_informacoes_container {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
    border-radius: 8px;
    background-color: #fffa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 24px;
}

.contato_informacoes_container .contato_informacao {
    display: flex;
    gap: 8px;
    align-items: center;
}

.contato_informacoes_container .contato_informacao i {
    font-size: 1.5em;
}

.contato_informacoes_container .contato_informacao a {
    text-decoration: none;
    color: #000;
}

.contato_background_image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    filter: blur(2px);
}

.contato_informacoes_socials {
    display: flex;
    gap: 8px;
}

.contato_informacoes_social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;

    color: #000;
    text-decoration: none;
    background-color: #fff9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.contato_informacoes_social:hover {
    background-color: #dddb;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.contato_formulario_container {
    display: flex;
    align-self: center;
}

.contato_formulario {
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.contato_formulario textarea.textarea-field {
    max-height: 200px;
    padding-top: 0;
    margin-top: 0.8rem;
}

.contato_formulario input:-webkit-autofill,
.contato_formulario input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s, box-shadow 0.3s,
        border 0.3s, -webkit-box-shadow 0.3s !important;
}

.contato_full_container iframe {
    width: 100%;
    height: 400px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ccc;
}

.projeto_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 24px;
}

.footer_container {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer_info_wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer_info {
    display: flex;
    gap: 4px;
    align-items: center;
}

.footer_menu_links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    gap: 8px;
}

.footer_menu_link {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #01579b80;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    background-color: #01579b80;
    transition: 0.3s;
}

.footer_menu_link:hover {
    background-color: #01579b;
}

/* Estilos personalizados para o título do gráfico */
#chart-title {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Estilos para o menu de seleção do tipo de gráfico */
#chart-type-menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza as colunas */
}

#chart-type-menu li {
    margin: 5px;
    flex: 1 1 calc(50% - 10px); /* Define a largura dos itens */
}

#chart-type-menu li a {
    display: block;
    padding: 10px 15px;
    background-color: #f5f5f5;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

#chart-type-menu li a.active {
    background-color: #2196f3;
    color: #fff;
    font-weight: bold;
}

#chart-type-menu li a:hover {
    background-color: #1e88e5;
    color: #fff;
}

/* Responsividade */
@media (max-width: 768px) {
    .hide_on_mobile {
        display: none;
    }

    h3 {
        font-size: 1.5em !important;
    }

    h4 {
        font-size: 1.2em !important;
    }

    .explicativo_com_imagem {
        flex-direction: column;
        padding-block: 12px;
    }

    .membro-card h4 {
        font-size: 1.4em !important;
    }

    .nav-wrapper .brand-logo {
        font-size: 1em;
    }

    .brand-logo-images {
        height: 48px;
    }

    #nav-mobile li a {
        font-size: 14px;
    }
    .equipe-container {
        grid-template-columns: 1fr;
    }
    .card-image img {
        max-width: 100px; /* Ajuste conforme necessário */
    }

    .period-menu {
        flex-direction: column; /* Coloca em uma coluna única em telas menores */
    }

    .period-menu li {
        flex: 1 1 100%;
    }

    .period-menu li a {
        padding: 8px 10px;
        font-size: 0.9em;
    }

    .region-menu-container,
    .period-menu-container {
        margin-bottom: 20px;
    }

    .collapsible-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .collapsible-header b,
    .total-analises {
        font-size: 1rem;
    }

    .arrow_not_active,
    .arrow_active {
        font-size: 1.2rem;
    }

    .contato_container {
        grid-template-columns: 1fr;
    }

    .apoiador_container img.horizontal {
        width: auto;
        max-width: 80%;
        max-height: 80px;
    }

    .apoiador_container img.vertical {
        width: auto;
        max-height: 80px;
    }

    .sobre_imagens {
        grid-template-columns: 1fr;
    }

    .boletins_wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .footer_container {
        grid-template-columns: 1fr 1fr;
    }

    .footer_container :nth-child(1) {
        grid-column: 1 / span 2;
    }
}

@media (max-width: 480px) {
    nav .nav-warpper a.brand-logo {
        font-size: 1.5em;
        position: relative;
        left: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .top_banner_nota_maxima_wrapper {
        left: 95px;
        top: 25px;
    }
    .top_banner_nota_maxima {
        width: 89px;
        height: 99px;
    }
    .period-title {
        font-size: 1em;
    }
    .period-menu li a {
        padding: 6px 8px;
        font-size: 0.8em;
    }
    .boletins_wrapper {
        grid-template-columns: 1fr;
    }
    .footer_container {
        grid-template-columns: 1fr;
    }
    .footer_container :nth-child(1) {
        grid-column: 1;
    }
    .membro-card {
        flex-direction: column;
    }
}
